<?xml version="1.0" encoding="UTF-8"?>
<element>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         id="WebApp_ID" version="4.0">

    <display-name>Mega_cab_rent</display-name>

    <!-- Servlet Configuration for BookingServlet -->
    <servlet>
        <servlet-name>BookingServlet</servlet-name>
        <servlet-class>com.megacab.registration.NewBookingServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BookingServlet</servlet-name>
        <url-pattern>/BookingServlet</url-pattern>
    </servlet-mapping>

    <!-- Servlet Configuration for ViewUsersServlet -->
    <servlet>
        <servlet-name>ViewUsersServlet</servlet-name>
        <servlet-class>com.megacab.registration.ViewUsersServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ViewUsersServlet</servlet-name>
        <url-pattern>/viewUsers</url-pattern>
    </servlet-mapping>

    <!-- Welcome file list -->
    <welcome-file-list>
        <welcome-file>getStart.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.jsp</welcome-file>
        <welcome-file>default.htm</welcome-file>
    </welcome-file-list>

</web-app>
</element>